body {
    font-family: 'Myriad Pro', sans-serif;
}

.navbar-nav a {
    text-transform: uppercase;
    color: #949494;
    flex: 1;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.square {
    height: 5px;
    width: 5px;
    background-color: #949494;
    display: inline-block;
}

.active {
    color: #00bae9 !important;
    font-weight: 600;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
}

.navbar-top-card .quote-card {
    background-color: #00bae9;
    border-radius: 0px 0px 80px 80px;
}

.navbar-top-card .phone-card {
    background-color: #efefef;
    margin-right: -35px;
    border-radius: 0px 0px 0px 80px;
}

.quote-card h5 {
    color: #fff;
    padding: 5px 40px 5px 60px;
    cursor: pointer;
}

.quote-card h5 i {
    padding-left: 20px;
}

.phone-card h5 {
    color: #737373;
    padding: 5px 40px 5px 30px;
    font-weight: 600;
}

.phone-card h5 i {
    font-size: 16px;
}

.carousel-indicators li {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
}

.carousel-indicators .active {
    background-color: #00bae9;
    border: 1px solid #00bae9;
}

.carousel-container {
    position: relative;
}

.carousel-text-container {
    position: absolute;
    left: 0px;
    right:0px;
    bottom: 0px;
    color: red;
    top: 50%;
    transform: translateY(calc(-50% - 40px));
}

.carousel-text-container .title-card {
    background-color: rgba(0, 186, 233, 0.7);
    padding: 40px;
    border-radius: 70px 0px 70px 0px;
}

.carousel-text-container p:first-child {
    font-size: 45pt;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
}

.carousel-text-container p:nth-child(2) {
    color: #fff;
    line-height: 1;
    text-align: justify;
    margin-bottom: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.carousel-text-container a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 12px 30px;
    border: 2px solid #fff;
    border-radius: 30px 0px 30px 0px;
    font-size: 18px;
    letter-spacing: 2px;
}

.carousel-text-container a:hover {
    background-color: #fff;
    color: rgba(0, 186, 233, 1);
}

.about-us .image-container {
    position: relative;
}

.about-us .image-container .gray-circle {
    background-color: #404041;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.about-us .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us-bg {
    background: linear-gradient(90deg, #fff 4px, transparent 1%) center, linear-gradient(#fff 4px, transparent 1%) center, #ececec;
    background-size: 5px 5px;
}

.about-us .title-container {
    height: 50px;
}

.about-us h5 {
    color: #25bfec;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.about-us p:not(.description-text) {
    color: #848484;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.about-us a {
    text-transform: uppercase;
    color: #adadad;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #adadad;
    padding: 5px 30px;
    border-radius: 30px 0px 30px 0px;
}

.about-us a:hover {
    background-color: #adadad;
    color: #fff;
}

.about-us .description-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #7c7c7c;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.about-us .description-title span {
    background: linear-gradient(90deg, #fff 4px, transparent 1%) center, linear-gradient(#fff 4px, transparent 1%) center, #ececec;
    background-size: 5px 5px;
    padding:0 30px;
    color: #7c7c7c;
    letter-spacing: 1px;
}

.about-us .description-text {
    color: #7c7c7c;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.feedback .title {
    text-transform: uppercase;
    background-color: #00bae9;
    color: #fff;
    width: fit-content;
    padding-right: 50px;
    border-radius: 0px 0px 60px 0px;
}

.feedback .container {
    background-color: #fff;
    position: relative;
}

.feedback .container:before {
    content:"";
    background-color: #00bae9;
    position: absolute;
    height: 100%;
    width: 150vw;
    left: -2000px;
    z-index: -1;
}

.bubble-chat-container {
    position: relative;
}

.bubble-chat-container img {
    width: 100%;
    height: min-content;
}

.bubble-chat-container .quote-left, .quote-right {
    position: absolute;
    color: #c8c8c8;
}

.bubble-chat-container .quote-left {
    left: 10px;
    top: 10px;
}

.bubble-chat-container .quote-right {
    right: 10px;
    bottom: 20px;
}

.bubble-chat-container span {
    position: absolute;
    top: 30px;
    height: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #848484;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.bubble-chat-name {
    color: #707070;
    margin-top: -10px;
}

.video-container {
    color: #707070;
}

.video-container p {
    text-align: justify;
}

.view-all span {
    color: #00bae9;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
}

.view-all i {
    background-color: #00bae9;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}